@typeparam TItem where TItem : SystemModel, new()


<TelerikComboBox Id="@Id" Data="@filteredData" Value="@selectedValueId" ValueChanged="@((int e) => OnValueChanged(e))" ValueField="@ValueField" TextField="@TextField"
                 Class="@Class" Placeholder="Select ..." ClearButton="@ClearButton" Width="@Width" PopupWidth="@PopupWidth" Enabled="@Enabled"
                 Filterable="true" FilterOperator="StringFilterOperator.Contains" OnRead="@FilterCombo">
        <HeaderTemplate>
        <div class="combo-header-row">
            @if (ShowId)
            {
                <span class="cell-id">Id</span>
            }
            <span class="cell-code">Code</span>
            <span class="cell-name">Name</span>
        </div>
    </HeaderTemplate>
    <ItemTemplate Context="comboContext">
        <div class="combo-item-row">
            @if (ShowId)
            {
                <span class="cell-id">@comboContext.Id</span>
            }
            <span class="cell-code">@comboContext.Code</span>
            <span class="cell-name">@comboContext.Name</span>
        </div>
    </ItemTemplate>
    </TelerikComboBox>


@code {
    [Parameter] public IEnumerable<TItem> Data { get; set; } = new List<TItem>();
    [Parameter] public TItem Value { get; set; } = new();
    [Parameter] public EventCallback<TItem> ValueChanged { get; set; }
    [Parameter] public string ValueField { get; set; } = "Id";
    [Parameter] public string TextField { get; set; } = "Code";
    [Parameter] public string Width { get; set; } = "200px";
    [Parameter] public string PopupWidth { get; set; } = "";
    [Parameter] public string Class { get; set; } = "";
    [Parameter] public bool ClearButton { get; set; } = false;
    [Parameter] public bool Enabled { get; set; } = true;
    [Parameter] public bool ShowId { get; set; } = false;
    [Parameter] public string Id { get; set; } = "";


    int selectedValueId { get { return Value != null ? Value.Id : 0; } set { Value = (value > 0 ? Data.FirstOrDefault(e => e.Id == value) : new()); } }

    IEnumerable<TItem> filteredData = new List<TItem>();


    protected override void OnInitialized()
    {
        filteredData = Data;
    }

    async Task OnValueChanged()
    {
        await ValueChanged.InvokeAsync(Value);
    }

    async Task OnValueChanged(int valueId)
    {
        selectedValueId = valueId;
        await OnValueChanged();
    }

    void FilterCombo(ComboBoxReadEventArgs args)
    {
        var argsFilter = args.Request.Filters;
        FilterDescriptor filter = (FilterDescriptor)argsFilter.FirstOrDefault();
        var searchString = (filter != null ? filter.Value.ToString().ToLower() : "");

        if (argsFilter.Count() > 0)
        {
            filteredData = Data.Where(e => e.Code.ToLower().Contains(searchString) || e.Name.ToLower().Contains(searchString));
        }
        else
        {
            filteredData = Data;
        }
    }
}

<style>
    /*.combo-header-row {
        display: flex;
        width: inherit;
        width: 100%;
        background: #fafafa;
        font-size: 0.875rem;
        font-weight: 500;
        padding: 4px 8px 4px 8px;
        text-align: left;
    }

    .combo-item-row {
        display: flex;
        width: 100%;
        font-size: 0.875rem;
        padding: 2px 8px 2px 8px;
        text-align: left;
    }

    .cell-id {
        width: 20%;
        padding: 2px 8px 2px 8px;
        white-space: nowrap;
    }

    .cell-code {
        width: 30%;
        padding: 2px 8px 2px 8px;
        white-space: nowrap;
    }

    .cell-name {
        padding: 2px 8px 2px 8px;
        white-space: nowrap;
    }*/
</style>
